// Sass Variables
$posts_list_width: 312px
$breakpoint-tablet: 769px

// Reseter
*
    font-family: Arial, Helvetica, sans-serif
ul
    padding: 0
    margin: 0
    li
        list-style: none
        padding: 0
        margin: 0

// Layout
.layout
    display: flex
    flex-direction: row
.loader
    text-align: center
    margin: 60px 0
// Active Post
.active-post
    width: 100%
    text-align: center
    .author
        margin: 40px 0
    img

    .title
        margin: 40px 0

// Posts Navigation
.posts_nav
    color: #eee
    width: $posts_list_width/4
    transition: width 300ms ease-in
    .wrapper
        padding-bottom: 40px
        height: 100vh
        display: flex
        flex-direction: column
        background: #333
        position: relative
        left: -$posts_list_width
        transition: left 300ms ease-in-out
    &.expanded
        width: $posts_list_width
        .wrapper
            width: $posts_list_width
            left: 0px
    // Navigation Header
    .nav_header
        width: $posts_list_width
        text-align: center
        font-size: 1em
        padding: 8px 0
        margin: 0

    // Navigation Post Lists
    .nav_posts_list
        padding: 6px
        overflow: hidden
        overflow-y: scroll
        float: left

        // List item
        .post
            position: relative
            left: 0
            border-bottom: 1px solid #aaa
            transition: left 600ms ease-in-out, transform 600ms ease-in-out, background 200ms ease-out
            background: rgba(0,0,0,0)
            &:active
                background: rgba(255,255,255,0.25)
            &.post-exit
                left: -400px
            &.post-removed
                display: none
            &.all-post-exit
                left: -400px
                transform: scale(0.5)
            // Item Header
            .post_header
                margin-top: 4px
                width: 300px
                height: 30px
                overflow: hidden
                .post_author
                    float: left
                    margin-right: 8px
                .post_age
                    position: relative
                    top: 4px
                    float: right
                    font-size: 0.7em
                    color: #999
                .post_state_unread
                    float: left
                    width: 10px
                    height: 10px
                    border-radius: 5px
                    background-color: #d3f
                    margin: 8px
                .post_state_read
                    float: left
                    width: 10px
                    height: 10px
                    border-radius: 5px
                    background-color: #232
                    margin: 8px
            // Item Body
            .post_body
                cursor: pointer
                display: flex
                align-items: center
                width: 100%
                position: relative
                .title
                    cursor: pointer
                    padding-left: 1em
                    font-size: 0.8em
                .thumbnail_placeholder
                    min-width: 100px
                    max-width: 100px
                    min-height: 100px
                    max-height: 100px
                    overflow: hidden
                    cursor: pointer
                    img
                        height: 100%
                        width: 100%
            // Item Footer
            .post_footer
                width: 300px
                height: 30px
                margin: 10px 0 4px 0
                .post_dismiss
                    float: left
                    margin-right: 80px
                    .dismiss_icon
                        cursor: pointer
                        position: relative
                        top: -2px
                        display: inline-block
                        font-size: 0.9em
                        border: 2px solid orange
                        color: orange
                        width: 22px
                        height: 22px
                        border-radius: 15px
                        line-height: 14px
                        text-align: center
                    .dismiss_label
                        cursor: pointer
                        padding: 0px 0px 0px 5px
                        font-size: 0.9em
                .post_comments
                    position: relative
                    top: 4px
                    float: right
                    text-align: right
                    color: orange
                    font-size: 0.8em
    
    // Navigation Footer
    .nav_footer
        .post_dismiss_all
            cursor: pointer
            position: absolute
            bottom: 0
            width: $posts_list_width
            padding: 10px 0
            color: orange
            text-align: center
            font-size: 1em
        .post_dismiss_all:hover
            background-color: #555
